<a href="https://colab.research.google.com/github/borgesgoncalves/datacleaning-labsensing/blob/main/unidConservacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.   Filtrar dados entre os anos 1999 e 2020
2.  Filtrar estados de interesse
3. Juntar tabelas de unidades federais e estaduais.

In [1]:
import pandas as pd

In [6]:
anos = [1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
estados = ['Acre', 'Amapá', 'Amazonas', 'Maranhão', 'Mato Grosso', 'Pará', 'Roraima', 'Rondônia', 'Tocantins']
siglas = ['AC', 'AM', 'AP', 'MA', 'MT', 'PA', 'RO', 'RR', 'TO']
index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

In [2]:
UC_estaduais = 'https://raw.githubusercontent.com/LABSensing/LabSesing-case-study/refs/heads/main/UC%20por%20estado/extensao-de-ucs-estaduais-na-amazonia-legal-por-uf-(area_ano-de-criacao).csv'
UC_federais = 'https://raw.githubusercontent.com/LABSensing/LabSesing-case-study/refs/heads/main/UC%20por%20estado/extensao-de-ucs-federais-na-amazonia-legal-por-uf-(area_ano-de-criacao).csv'

In [3]:
dfestaduais = pd.read_csv(UC_estaduais, sep = ';')
dffederais = pd.read_csv(UC_federais, sep = ';')

In [4]:
dfestaduais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Anos    32 non-null     int64
 1   AC      4 non-null      float64
 2   AM      11 non-null     float64
 3   AP      3 non-null      float64
 4   MA      4 non-null      float64
 5   MT      16 non-null     float64
 6   PA      9 non-null      float64
 7   RO      7 non-null      float64
 8   RR      1 non-null      float64
 9   TO      3 non-null      float64
dtypes: float64(9), int64(1)
memory usage: 2.6 KB

In [5]:
dfestaduais

,Anos,AC,AM,AP,MA,MT,PA,RO,RR,TO
0,1978,NaN,NaN,NaN,NaN,1478.0,NaN,NaN,NaN,NaN
1,1980,NaN,NaN,NaN,539250.0,NaN,NaN,NaN,NaN,NaN
2,1985,NaN,NaN,286.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1989,NaN,NaN,NaN,NaN,3901.0,NaN,1106139.0,NaN,NaN
4,1990,NaN,3221001.0,NaN,NaN,NaN,NaN,2150750.0,NaN,NaN
5,1991,NaN,NaN,NaN,45333.0,NaN,NaN,NaN,NaN,NaN
6,1992,NaN,NaN,NaN,NaN,109498.0,NaN,NaN,NaN,NaN
7,1993,NaN,NaN,NaN,NaN,NaN,1425.0,NaN,NaN,NaN
8,1994,NaN,NaN,NaN,NaN,14727.0,NaN,68978.0,NaN,NaN
9,1995,NaN,233915.0,NaN,NaN,NaN,NaN,726885.0,NaN,NaN
10,1996,NaN,NaN,NaN,NaN,167731.0,24522.0,385317.0,NaN,NaN
11,1997,47140.0,NaN,870696.0,NaN,290835.0,NaN,NaN,NaN,NaN
12,1998,NaN,2377935.0,NaN,NaN,103978.0,NaN,NaN,NaN,89720.0
13,1999,NaN,NaN,NaN,NaN,8305.0,NaN,NaN,NaN,NaN
14,2000,NaN,NaN,NaN,NaN,118.0,NaN,NaN,NaN,32742.0
15,2001,NaN,NaN,NaN,NaN,638547.0,3675.0,NaN,NaN,171309.0
16,2002,NaN,NaN,NaN,NaN,436787.0,90557.0,NaN,NaN,NaN
17,2003,NaN,3879514.0,NaN,NaN,9216.0,NaN,NaN,NaN,NaN
18,2004,1146767.0,424302.0,NaN,NaN,108406.0,NaN,NaN,NaN,NaN
19,2005,NaN,3269968.0,NaN,122.0,NaN,NaN,NaN,NaN,NaN
20,2006,NaN,866765.0,2370666.0,NaN,291.0,13011536.0,NaN,NaN,NaN
21,2007,NaN,409965.0,NaN,NaN,98416.0,NaN,NaN,NaN,NaN
22,2008,NaN,104148.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2009,26135.0,2328580.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2010,NaN,NaN,NaN,NaN,NaN,71654.0,8867.0,NaN,NaN
25,2014,NaN,77426.0,NaN,79710.0,NaN,NaN,NaN,NaN,NaN
26,2016,NaN,NaN,NaN,NaN,NaN,33679.0,NaN,NaN,NaN
27,2017,155896.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2018,NaN,NaN,NaN,NaN,NaN,242.0,399532.0,NaN,NaN
29,2020,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN
30,2021,NaN,NaN,NaN,NaN,NaN,30069.0,NaN,NaN,NaN
31,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2647321.0,NaN

In [7]:
dfestaduais['Anos'].unique()

array([1978, 1980, 1985, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
       1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2014, 2016, 2017, 2018, 2020, 2021, 2022])

In [15]:
dfestaduais_matriz = dfestaduais['Anos'].isin(anos)
estaduais_df = dfestaduais[dfestaduais_matriz]
estaduais_df

,Anos,AC,AM,AP,MA,MT,PA,RO,RR,TO
13,1999,NaN,NaN,NaN,NaN,8305.0,NaN,NaN,NaN,NaN
14,2000,NaN,NaN,NaN,NaN,118.0,NaN,NaN,NaN,32742.0
15,2001,NaN,NaN,NaN,NaN,638547.0,3675.0,NaN,NaN,171309.0
16,2002,NaN,NaN,NaN,NaN,436787.0,90557.0,NaN,NaN,NaN
17,2003,NaN,3879514.0,NaN,NaN,9216.0,NaN,NaN,NaN,NaN
18,2004,1146767.0,424302.0,NaN,NaN,108406.0,NaN,NaN,NaN,NaN
19,2005,NaN,3269968.0,NaN,122.0,NaN,NaN,NaN,NaN,NaN
20,2006,NaN,866765.0,2370666.0,NaN,291.0,13011536.0,NaN,NaN,NaN
21,2007,NaN,409965.0,NaN,NaN,98416.0,NaN,NaN,NaN,NaN
22,2008,NaN,104148.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2009,26135.0,2328580.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2010,NaN,NaN,NaN,NaN,NaN,71654.0,8867.0,NaN,NaN
25,2014,NaN,77426.0,NaN,79710.0,NaN,NaN,NaN,NaN,NaN
26,2016,NaN,NaN,NaN,NaN,NaN,33679.0,NaN,NaN,NaN
27,2017,155896.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2018,NaN,NaN,NaN,NaN,NaN,242.0,399532.0,NaN,NaN
29,2020,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN



---



---


UC federais

In [9]:
dffederais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Anos    31 non-null     int64
 1   AC      9 non-null      float64
 2   AM      22 non-null     float64
 3   AP      6 non-null      float64
 4   BA      2 non-null      float64
 5   MA      6 non-null      float64
 6   MT      4 non-null      float64
 7   PA      16 non-null     float64
 8   PI      1 non-null      float64
 9   RO      11 non-null     float64
 10  RR      8 non-null      float64
 11  TO      4 non-null      float64
dtypes: float64(11), int64(1)
memory usage: 3.0 KB

In [10]:
dffederais['Anos'].unique()

array([1959, 1961, 1974, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1988,
       1989, 1990, 1992, 1997, 1998, 1999, 2000, 2001, 2002, 2004, 2005,
       2006, 2008, 2009, 2014, 2016, 2017, 2018, 2023, 2024])

In [ ]:
dffederais

In [ ]:
dffederais.drop(columns = ['BA', 'PI'], inplace = True)
dffederais

In [16]:
dffederais_matriz = dffederais['Anos'].isin(anos)
federais_df = dffederais[dffederais_matriz]
federais_df

,Anos,AC,AM,AP,MA,MT,PA,RO,RR,TO
16,1999,2583.0,NaN,NaN,NaN,NaN,NaN,74508.0,NaN,NaN
17,2000,157594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2001,251881.0,2170971.0,NaN,NaN,NaN,246121.0,632273.0,NaN,634133.0
19,2002,774198.0,854782.0,3823261.0,362940.0,NaN,61250.0,NaN,NaN,130950.0
20,2004,NaN,305697.0,NaN,86760.0,NaN,2029781.0,222546.0,NaN,NaN
21,2005,326490.0,1084975.0,NaN,160720.0,NaN,4615650.0,NaN,263427.0,NaN
22,2006,NaN,2743139.0,NaN,NaN,1181357.0,4994643.0,124920.0,NaN,NaN
23,2008,NaN,5284219.0,NaN,NaN,NaN,307506.0,174294.0,NaN,NaN
24,2009,NaN,NaN,NaN,NaN,NaN,211504.0,NaN,NaN,NaN
25,2014,NaN,672612.0,NaN,NaN,NaN,49225.0,NaN,NaN,NaN
26,2016,NaN,2553538.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2017,NaN,NaN,NaN,NaN,NaN,79382.0,NaN,NaN,NaN
28,2018,NaN,190809.0,NaN,200603.0,NaN,NaN,NaN,391840.0,NaN



---



---


merge dos dois dfs

In [21]:
uc_df = estaduais_df.merge(federais_df, on = 'Anos', how = 'outer', suffixes = ('_estadual', '_federal'))
uc_df

,Anos,AC_estadual,AM_estadual,AP_estadual,MA_estadual,MT_estadual,PA_estadual,RO_estadual,RR_estadual,TO_estadual,AC_federal,AM_federal,AP_federal,MA_federal,MT_federal,PA_federal,RO_federal,RR_federal,TO_federal
0,1999,NaN,NaN,NaN,NaN,8305.0,NaN,NaN,NaN,NaN,2583.0,NaN,NaN,NaN,NaN,NaN,74508.0,NaN,NaN
1,2000,NaN,NaN,NaN,NaN,118.0,NaN,NaN,NaN,32742.0,157594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,NaN,NaN,NaN,NaN,638547.0,3675.0,NaN,NaN,171309.0,251881.0,2170971.0,NaN,NaN,NaN,246121.0,632273.0,NaN,634133.0
3,2002,NaN,NaN,NaN,NaN,436787.0,90557.0,NaN,NaN,NaN,774198.0,854782.0,3823261.0,362940.0,NaN,61250.0,NaN,NaN,130950.0
4,2003,NaN,3879514.0,NaN,NaN,9216.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2004,1146767.0,424302.0,NaN,NaN,108406.0,NaN,NaN,NaN,NaN,NaN,305697.0,NaN,86760.0,NaN,2029781.0,222546.0,NaN,NaN
6,2005,NaN,3269968.0,NaN,122.0,NaN,NaN,NaN,NaN,NaN,326490.0,1084975.0,NaN,160720.0,NaN,4615650.0,NaN,263427.0,NaN
7,2006,NaN,866765.0,2370666.0,NaN,291.0,13011536.0,NaN,NaN,NaN,NaN,2743139.0,NaN,NaN,1181357.0,4994643.0,124920.0,NaN,NaN
8,2007,NaN,409965.0,NaN,NaN,98416.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2008,NaN,104148.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5284219.0,NaN,NaN,NaN,307506.0,174294.0,NaN,NaN
10,2009,26135.0,2328580.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211504.0,NaN,NaN,NaN
11,2010,NaN,NaN,NaN,NaN,NaN,71654.0,8867.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014,NaN,77426.0,NaN,79710.0,NaN,NaN,NaN,NaN,NaN,NaN,672612.0,NaN,NaN,NaN,49225.0,NaN,NaN,NaN
13,2016,NaN,NaN,NaN,NaN,NaN,33679.0,NaN,NaN,NaN,NaN,2553538.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017,155896.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79382.0,NaN,NaN,NaN
15,2018,NaN,NaN,NaN,NaN,NaN,242.0,399532.0,NaN,NaN,NaN,190809.0,NaN,200603.0,NaN,NaN,NaN,391840.0,NaN
16,2020,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
uc_df.to_csv('unidConservacao-cleaned', index = False)




---


---
teste 2

juntandos as tabelas pelas colunas de siglas

In [ ]:
df_federais_teste = federais_df.drop('Anos', axis = 1)
df_federais_teste

In [ ]:
uc_df_teste = estaduais_df.merge(df_federais_teste, on = siglas, how = 'outer')
uc_df_teste